@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

body {
  background: linear-gradient(135deg,#2a0055,#110026);
  color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tela {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
  height: 100%;
}

.tela.ativa {
  display: flex;
}

h1 {
  color: #ffea00;
  font-size: 22px;
  text-shadow: 0 0 10px #ffea00;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.menu button {
  background: linear-gradient(180deg,#8000ff,#400080);
  padding: 14px 32px;
  border: none;
  border-radius: 12px;
  color: #fff;
  font-size: 14px;
  box-shadow: 0 6px 0 #25004e;
}

.menu button:hover {
  transform: translateY(-3px);
}

.overlay {
  position: fixed;
  inset: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(10, 0, 30, 0.75);
  z-index: 20;
}

.overlay.ativo {
  display: flex;
}

.caixa {
  background: #1b0033;
  border: 3px solid #ffea00;
  border-radius: 12px;
  padding: 28px;
  width: 80%;
  max-width: 450px;
  text-align: center;
  color: #ffea00;
  box-shadow: 0 0 20px #ffea00;
}

.btnPopup {
  background: #ffea00;
  color: #000;
  padding: 12px 26px;
  border: none;
  border-radius: 10px;
  font-size: 12px;
  margin-top: 20px;
}

.placar {
  display: flex;
  justify-content: space-between;
  width: 330px;
  font-size: 12px;
  color: #ffea00;
}

.grade {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 12px;
}

.grade button {
  width: 100px;
  height: 100px;
  font-size: 32px;
  color: #ffea00;
  background: #2d0066;
  border: 3px solid #ffea00;
  border-radius: 10px;
}

.grade button:hover {
  background: #3d0086;
}

.botoes-final {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 18px;
}

.botao-final {
  padding: 14px 28px;
  font-size: 12px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 6px 0 #000;
}

.roxo {
  background: linear-gradient(180deg,#a200ff,#4d0080);
  color: white;
  box-shadow: 0 6px 0 #2a0047;
}

.roxo:hover {
  transform: translateY(-3px);
}

.vermelho {
  background: linear-gradient(180deg,#ff4b4b,#b22020);
  color: white;
  box-shadow: 0 6px 0 #7a1010;
}

.vermelho:hover {
  transform: translateY(-3px);
}